body {
    font-family: "Noto Sans Thai", sans-serif;
}

header{
    text-align: center;
    padding: 24px 16px 8px ;
}

header h1{
    margin: 0 0 6px;
    font-size: 24px;
}

header p{
    margin: 0;
    color: rgb(105, 105, 105);
    font-size: 20px;
}

main{
    display: flex;
    justify-content: center;
    padding: 16px;
}


.card {
    border: 5px solid #838383;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
    max-width: 300px;
}

.card img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.card h2{
    margin: 12px 0 6px;
    font-size: 18px;
}

.card p{
    margin: 0 0 10px;
    font-size: 14px;
    color: #731919;
}

.card button{
    font-family: "Noto Sans Thai", sans-serif;
    border: 1px solid #ddd;
    background: rgb(188, 188, 188);
    padding: 6px 10px;
    border-radius: 6px;
}

  #overlay {
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.4);
  }

  #overlay.open {
    display: flex;
  }

  .overlay-box {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    width: 90%;
    max-width: 320px;
  }

  .overlay-box img {
    width: 120px;
    height: 120px;
    object-fit: contain;
  }

  .overlay-box h2 {
    margin: 10px 0 6px;
    font-size: 20px;
  }

  .overlay-box p {
    margin: 0 0 12px;
    color: hwb(0 11% 83%);
  }

  .overlay-box a,
  .overlay-box button {
    display: inline-block;
    margin: 4px;
    padding: 6px 12px;
    border: 1px solid hsl(0, 40%, 6%);
    border-radius: 6px;
    background: #fff;
    color: hsl(33, 80%, 52%);
    text-decoration: none;
    cursor: pointer;
  }

  footer {
    text-align: center;
    color: #777;
    font-size: 20px;
    padding: 25px 0;
  }
